@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes neonGlow {
  0% {
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.8), 0 0 10px rgba(0, 0, 255, 0.6),
      0 0 15px rgba(0, 0, 255, 0.4);
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.8), 0 0 20px rgba(0, 0, 255, 0.6),
      0 0 30px rgba(0, 0, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.8), 0 0 10px rgba(0, 0, 255, 0.6),
      0 0 15px rgba(0, 0, 255, 0.4);
  }
}

.neon {
  position: relative;
  animation: neonGlow 1.5s infinite alternate;
}

.no-neon-text {
  text-shadow: none;
}
